In [1]:
import pandas as pd

In [7]:
s = pd.Series([1, 'abc'])
s1 = pd.get_dummies(s)

In [8]:
s1

   1  abc
0  1    0
1  0    1

In [6]:
s = pd.Series([1, 'abc'])

In [9]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],
                   'C': [1, 2, 3]})

In [10]:
print(pd.get_dummies(df))

   C  A_a  A_b  B_a  B_b  B_c
0  1    1    0    0    1    0
1  2    0    1    1    0    0
2  3    1    0    0    0    1